* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  background-color: #333;
}
.report {
  background-color: #e6e6fa;
  width: 85rem;
  margin: 20rem auto;
  padding: 1rem 1.2rem;
}
.heading {
  background-color: black;
  color: white;
  text-align: center;
  margin: 1rem 2rem;
}
h1 {
  font-size: 3rem;
  padding: 1rem 0;
  letter-spacing: 2px;
}
.sub-head {
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(243, 239, 239);
  margin: 5rem 2rem 0 2rem;
  border-bottom: 3px solid black;
}
.sub-head h3 {
  padding: 0.8rem 0;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.sec {
  display: flex;
  height: 55rem;
  margin: 0 2rem;
  border-radius: 2rem;
}
.name {
  /* background-color: rgb(88, 88, 88); */
  background-color: lightgray;
  flex: 1;
  height: 100%;
  border-bottom-left-radius: 2rem;
}
.email {
  flex: 1;
  background-color: lightgray;
  /* background-color: rgb(88, 88, 88); */
  height: 100%;
  border-bottom-right-radius: 2rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.3rem;
}
button {
  background-color: rgb(88, 88, 88);
  font-size: 1.4rem;
  padding: 1rem 1.3rem;
  letter-spacing: 2px;
  font-weight: bolder;
  color: white;
  border: none;
  outline: none;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: black;
  font-style: italic;
}

ol,
ul {
  padding: 2rem 5rem;
}
ul {
  list-style: none;
}
li {
  color: blue;
  font-size: 1.7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1.5rem;
  letter-spacing: 1.2px;
  font-weight: bolder;
  border-bottom: 1px solid #333;
  padding-bottom: 1rem;
}
